@model LycanTally.Web.Models.ThreadViewerVM

<style type="text/css">
    .progress {
        position: relative;
    }

    .progress span {
        position: absolute;
        display: block;
        width: 100%;
        color: black;
    }
</style>

@section NavbarAddons {
    <div id="threadContainer"></div>
}

<div class="progress" style="margin-top: 20px;">
    <div id="progressBar" class="progress-bar progress-bar-info progress-bar-striped active" 
         role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
        <span>Werewolves?!?</span>
    </div>
</div>

<div id="articleContainer"></div>

@using (Html.BeginScriptContext())
{
    Html.AddScriptBlock(
        @<script type="text/javascript">
            var threadID = @Model.ThreadID;
            var getThreadURL = '@Url.Action("GetThread", "ThreadViewer")';
        </script>
    );
}

@using (Html.BeginScriptContext())
{
    Html.AddScriptFile("~/Scripts/jquery.signalR-2.2.0.min.js");
    Html.AddScriptFile("~/signalr/hubs");
    Html.AddScriptFile("~/Scripts/ThreadViewer/threadViewer.js");
}