@model LycanTally.Web.Models.HomeVM

@{
    ViewBag.Title = "Home Page";
}


    @Scripts.Render("~/Scripts/metricsRetriever.js")


<div class="jumbotron">
    <h1>LycanTally</h1>
    <p class="lead">LycanTally is an application that retrieves advanced metrics on werewolf games hosted on BoardGameGeek.com.</p>
    <section id="propertyForm">
        @using (Ajax.BeginForm("RetrieveMetrics", "Home", new AjaxOptions
        {
            HttpMethod = "POST",
            OnSuccess = "retriever_AfterRetrieve"
        }))
        {
            <p>@Html.TextBoxFor(m => m.ThreadID, new { @class = "form-control input-lg", @placeholder = "Thread ID, Ex: 1507616" })</p>
            <p><input id="retrieveMetrics" type="submit" class="btn btn-primary btn-lg" value="Retrieve Metrics &raquo;" /></p>
        }
    </section>
</div>

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@